.App_nav_content_left {
    margin: 0px;
    background-color: dimgrey;
    padding: 10px;
    min-height: 500px;
}

.App_nav_content_left ul li {
    list-style: none;
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: white;
    cursor: pointer;
    margin-bottom: 5px;
}

