* {
    margin: 0px;
    padding: 0px;

}

.app_nav-top {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 40px;
    background-color: black;
}

.app_nav-top ul li {
    display: inline-block;
    height: 100%;
    float: left;
    line-height: 40px;
    padding-left: 15px;
    cursor: pointer;
    list-style: none;
}

.app_nav-top ul li a {
    color: white;
}